<html>
<head>
    <title>{% block title %}{% endblock %} - Survey of Silex</title>
</head>

<body>
  <div id="main">{% block main %}{% endblock %}</div>
  <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
